.form-main-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../homePage/homebg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.inputs input {
    display: flex !important;
    justify-content: center !important;

}

.service-provider-login-headind {

    font-size: x-large;
}

@media (max-width: 1000px) 
{
    .service-login-btn button
    {
        width: 60vw !important;

    }
}




