.form-section {

    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #9a6bff0c;
    backdrop-filter: blur(10px);
    /* padding: 2rem; */
    border: 1px solid #9b6bff !important;
    margin: 4rem;
    width: 30vw;
    /* margin-top: 3rem; */

}

.inputs input
{
    display: flex !important;
    justify-content: center !important;
    
}

.service-provider-login-headind
{
   
    font-size: x-large;
}