.form-main-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../homePage/homebg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

button[type="button"].location-btn, .Location-btn button[type="button"] {
    width: 23vw;
    background: #fff;
    color: #764ba2;
    border: 2px solid #9b6bff;
    margin-bottom: 10px;
    border-radius: 7px;
    font-weight: 600;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background 0.3s, color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 8px rgba(155, 107, 255, 0.08);
}

button[type="submit"] {
    width: 23vw;
    background: #0e0e0e !important;
    color: #9b6bff;
    margin-bottom: 10px;
    border-radius: 7px;
    font-weight: 600;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background 0.3s, color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputs {
    display: flex;
    justify-content: center;

}

.select {
    display: flex !important;
    justify-content: center !important;
}


select {
    border-color: #764ba2 !important;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;

    margin-bottom: 2rem !important;
}

/* Elegant Dropdown Styles */
.elegant-dropdown {
    width: 23vw;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    color: #d5c4f7 !important;
    font-size: 1rem;
    font-family: 'Segoe UI', 'Arial', sans-serif;
    box-shadow: 0 4px 18px rgba(155, 107, 255, 0.08);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    appearance: none;
    cursor: pointer;
    color: white;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}


.elegant-dropdown option {
    background: #1a0527;
    color: #9e79e7;
    font-size: 1rem;
    padding: 0.5rem;
    border: none !important;
}