.form-main-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../homePage/homebg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}


.form-section{

    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #9a6bff0c;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 1px solid #9b6bff;
    margin: 2rem;
    width: 30vw !important;

}

.form-section h2 {
    color: #9b6bff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}


.form-section .google-auth-container {
    display: flex;
    justify-content: center;
    font-size: small;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}

.form-section .google-auth-container button {
    display: flex;
    gap: 1rem;
    border-radius: 7px !important;

}


.label-input {

    display: flex;
    justify-content: center;
    align-items: center;

}


input {
    display: flex;
    margin: 1rem !important;
    padding: 0.6rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-color: #9b6bff;
    border: 1px solid #9b6bff;
    outline: none;
    background-color: transparent !important;
    width: 25vw !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.Location-btn {

    display: flex;
    justify-content: center;

}


.Location-btn button[type="button"] {
    width: 23vw !important;
    border: none !important;
}

button[type="button"] {
    background: #0e0e0e !important;
    color: #9b6bff;
    margin-bottom: 10px;
    border-radius: 7px;
    /* border-color: #9b6bff; */
    font-weight: 600;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background 0.3s, color 0.3s;

}


.form-sub-btn {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    background: #0e0e0e !important;
    color: #9b6bff;
    margin-bottom: 10px;
    border-radius: 7px;
    /* border-color: #9b6bff; */
    font-weight: 600;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background 0.3s, color 0.3s;

}

.form-sub-btn button[type="submit"] {
    /* width: 93%; */
    width: 23vw !important;


}

.login-link {
    color: #9b6bff;
    display: flex;
    justify-content: center;
}


.login-link a {
    color: aliceblue;
}


@media (max-width: 1000px) {
    .form-section {

        width: 80vw !important;
        border: 1px  yellow solid!important;
    }

    input {
        width: 80vw !important;

    }

    .Location-btn button[type="button"] {
        width: 59vw !important;

    }

    .form-sub-btn button[type="submit"] {
        width: 59vw !important;

    }

    .login-link {
        font-size: small;
    }




}