*
{
  margin: 0px;
  box-sizing: border-box;
}
.navbar
{
  /* border: 1px solid; */
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: #2c3e50 !important;
  z-index: 1000;
}
.navbar-brand
{
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  
}

.navbar ul

{
  
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul a{
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  
}


.navbar .badge
{
/* font-size: 1vw !important; */
}

.logout{
  background-color: red;
  border: none;
}


/* .user-email-role
{
  display: flex;
  align-items: center;
  justify-content: center;

} */


.active:hover
{

   color: #2c3e50;
}


.auth-btns
{

 width: 20vw;
 display: flex;  
}
